.daily-forecast-container {
  background-color: rgba(128, 128, 128, 0.322);
  box-shadow: 4px 8px 10px 2px black;
  border-radius: 10px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.day-and-date {
  width: 34px;
}
