.city {
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.city-data {
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding-left: 10px;
}

.city-data > h3 {
  background-color: rosybrown;
  width: 35%;
}

.city-data > p {
  background-color: salmon;
  width: 20%;
}

.city-data > img {
  background-color: seagreen;
  margin-left: 10px;
}

.city-control-icons {
  background-color: darkorange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 20%;
}
